<footer>
    <div class="max-w-5xl px-8 py-12 mx-auto 2xl:max-w-7xl md:px-lg:px-24 lg:pt-48">
      <p class="max-w-2xl text-sm text-left text-zinc-500">
        © Windstatic. Design:
        <a href="#_/" class="underline underline-offset-2">Wind Basic</a>. Demo
        Images: Respective owners.
      </p>
    </div>
  </footer>