<section>
    <div class="px-8 py-24 mx-auto text-center md:px-12 lg:px-24 lg:pt-64 text-zinc-500">
      <p class="max-w-xl mx-auto font-serif text-xl text-zinc-500">
        <em>
            As a proficient Web Developer, Raghav Awasthi excels in
            crafting dynamic, user-centric websites. Utilizing modern web technologies,
            he ensures seamless, visually appealing, and interactive
            online experiences that captivate users and achieve business goals.
        </em>
      </p>
      <div class="grid grid-cols-1 gap-4 mx-auto mt-24 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 max-w-7xl">
        
        <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/1.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">Lexington Themes</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/2.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">Creative Solutions</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/3.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">Digital Innovations</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/4.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">WebCrafters</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/5.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">PixelPerfect Designs</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/6.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">CodeMasters</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/7.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">Web Wizards</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/8.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">TechCreators</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/9.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">WebArtistry</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/10.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">DigitalCraftsmen</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/11.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">SiteSculptors</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/13.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">CodeArtisans</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/12.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">WebWorks Pro</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/14.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">TechFusion</p>
          </div>
        </a>
        
          <a href="#_" class="overflow-hidden rounded-md bg-zinc-100">
            <div class="p-4 lg:px-12 lg:py-24">
            <img class="duration-500 rounded-lg shadow hover:shaodow-3xl hover:-translate-y-4" src="./images/myfolio/15.png" alt="#">
            <p class="mt-8 text-sm text-zinc-500">DigitalCrafters</p>
          </div>
        </a>
        
      </div>
    </div>
</section>
